div {
  width: 300px;
  height: 300px;
  margin: 100px;
  background-color: lightblue;

  /* Translate Properties -----*/

  /* transform: translate(50px, 50px); */
  /* transform: translateX(100px); */
  /* transform: translateY(-50px); */

  /* Rotate Properties -----*/
  /* transform: rotateX(180deg); */
  /* transform: rotateY(180deg); */
  /* transform: rotateZ(250deg); */

  /* Scale Properties -----*/
  /* transform: scaleX(2); */
  /* transform: scaleY(2); */
  /* transform: scale(1.5,0.5); */

  /* Skew Properties */
  /* transform: skew(5deg);
  transform: skewY(5deg); */
  /* transform: skewX(5deg); */

  /* Align Elements Using Tranform Property */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -80%);
}
