* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
}

#slider-container {
  width: 80%;
  background-color: aqua;
  margin: 10% auto;
  position: relative;
  padding: 2%;
}

.slide {
  width: 90%;
  height: 400px;
  margin: auto;
}

.slide:nth-child(1) {
  background-color: chocolate;
}
.slide:nth-child(2) {
  background-color: palevioletred;
}
.slide:nth-child(3) {
  background-color: crimson;
}
.slide:nth-child(4) {
  background-color: deeppink;
}

#prev {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  background-color: black;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 2%;
  cursor: pointer;
}

#next {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  background-color: black;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 2%;
  cursor: pointer;
}
