* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

















header {
  width: 100%;
  background-color: crimson;
  padding: 1% 0;
  /* background-color: darkgreen; */
}

nav {
  width: 80%;
  margin: 0 auto;
  background-color: chartreuse;
  display: flex;
}

#logo {
  width: 15%;
  display: flex;
  align-items: center;
  font-size: 30px;
  background-color: cornflowerblue;
}
#navLinkCon {
  width: 40%;
  background-color: coral;
  margin-left: 15%;
  display: flex;
}

#navLinkCon li {
  width: 25%;
  background-color: greenyellow;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navLinkCon li a {
  color: white;
}
#LogSignUpCon {
  width: 20%;
  background-color: deeppink;
  margin-left: 10%;
  display: flex;
}

#LogSignUpCon li a {
  color: white;
}

#login {
  width: 50%;
  background-color: darkorchid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
#signup {
  width: 50%;
  background-color: darkseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: 2px;
  border-radius: 5px;
}

main {
  width: 100%;
}

#section1 {
  width: 100%;
  background-color: cornflowerblue;
  padding-top: 5%;
  padding-bottom: 5%;
}
#sec1-inner {
  width: 80%;
  margin: auto;
  background-color: chartreuse;
  display: flex;
}
#sec1Box1 {
  width: 50%;
  background-color: tomato;
  padding-left: 5%;
}
#sec1Box2 {
  width: 50%;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec1Box2 img {
  width: 80%;
}

#payment {
  font-size: 55px;
  color: white;
}
#grow {
  color: chartreuse;
}
#business {
  border-bottom: 2px solid chartreuse;
}

#para {
  margin-top: 5%;
  color: beige;
}
#request-scrollCon {
  width: 70%;
  background-color: blueviolet;
  display: flex;
  margin-top: 5%;
}
#requestDemo {
  width: 50%;
  padding: 5%;
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#scrollMore {
  width: 50%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#para2 {
  margin-top: 10%;
}
#companyLogoCon {
  width: 100%;
  display: flex;
  margin-top: 5%;
}
#companyLogoCon div {
  width: 25%;
  background-color: darkorange;
  margin: 2px;
}
#section2 {
  width: 100%;
  background-color: darkmagenta;
}
#sec2-inner {
  width: 80%;
  margin: auto;
  background-color: aqua;
  display: flex;
}
#sec2-box1,
#sec2-box2,
#sec2-box3 {
  width: 33.33%;
  margin: 2px;
  background-color: coral;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}
