* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  background-color: darkgreen;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 80%;
  /* background-color: crimson; */
  /* padding: 15px 0; */
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
}

#logo {
  /* background-color: aqua; */
  width: 15%;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

#navLinkCon {
  width: 40%;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 15%;
}

#navLinkCon li {
  width: 25%;
  /* background-color: chartreuse; */
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navLinkCon li a {
  color: white;
}

#LogSignUpCon {
  width: 20%;
  /* background-color: chocolate; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10%;
}

#LogSignUpCon li {
  width: 50%;
  margin: 2px;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#LogSignUpCon li a {
  color: white;
}

#signup {
  background-color: green;
  border: 0 solid green;
  border-radius: 10px;
  padding: 5px;
}

main {
  width: 100%;
}

#section1 {
  width: 100%;
  background-color: darkgreen;
  padding-top: 5%;
  padding-bottom: 5%;
}

#sec1-inner {
  width: 80%;
  /* background-color: yellow; */
  margin: auto;
  display: flex;
}

#sec1Box1 {
  width: 50%;
  /* background-color: violet; */
  padding-top: 5%;
  padding-left: 5%;
}

#sec1Box2 {
  width: 50%;
  /* background-color: tomato; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#sec1Box2 img {
  width: 80%;
}

#payment {
  font-size: 70px;
  color: white;
  line-height: 65px;
}

#grow {
  color: yellowgreen;
}

#business {
  border-bottom: 3px solid yellowgreen;
}

#para1 {
  color: white;
  margin-top: 5%;
}

#request-scrollCon {
  width: 70%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

#requestDemo {
  width: 50%;
  background-color: yellowgreen;
  padding: 5%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scrollMore {
  width: 50%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#scrollMore img {
  width: 25px;
}

#para2 {
  color: white;
  margin-top: 3%;
}

#companyLogoCon {
  width: 90%;
  padding-top: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

#section2 {
  width: 100%;
  /* background-color: chocolate; */
}

#sec2-inner {
  width: 80%;
  /* background-color: chartreuse; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sec2-box1,
#sec2-box2,
#sec2-box3 {
  width: 33.3%;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  
}

.count {
  font-size: 30px;
}
