#box1 {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 10px;
}

#box2 {
  width: 100px;
  height: 100px;
  background-color: chartreuse;
  margin: 10px;
}

#box3 {
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  margin: 10px;
}
